# Development
npm-debug.log*
.npm
.eslintrc*
.prettierrc*
.editorconfig
*.spec.js
*.test.js

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Docs
docs/
mkdocs.yml
.github/

# Build/tools
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Project files
config.package-installer-config.json
exists.txt
requirements.txt
.package-installer-config.json

# Root files
readme.txt
.gitignore
.git
